DB_DRIVER='mysql'
DB_NAME='fresaa'
DB_HOST='db'
DB_PORT='3306'   # or 3316 if you changed host port
DB_USER='root'
DB_PASSWORD='fresaaroot'
DB_TIMEZONE='+08:00'

SALT_ROUNDS=10
JWT_SECRET='0.adhfihfb34'

JWT_ACCESS_TOKEN_EXP=86400
JWT_REFRESH_TOKEN_EXP=86400
